<h1>Posts</h1>
<div class="row">
  <div class="col-md-6">
    <div>
      <select name="users" #u u="ngModel" class="form-control" (change)="whenChanged({userId: u.value})">
        <option value="">Select a user</option>
        <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
      </select>
    </div>
    <spinner [visible]="postsLoading"></spinner>
    <ul class="list-group">
      <li class="list-group-item"
          [class.selected]="post == selectedPost"
          *ngFor="let post of posts"
          (click)="onClick(post)">
        {{post.title}}
      </li>
    </ul>
  </div>
  <div class="col-md-6" *ngIf="selectedPost">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{selectedPost.title}}</h3>
      </div>
      <div class="panel-body">
        <p>{{selectedPost.body}}</p>
        <hr>
        <spinner [visible]="commentsLoading"></spinner>
        <div *ngFor="let comment of selectedPost.comments">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object rounded-img" src="http://lorempixel.com/80/80/people?random={{comment.id}}" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{comment.name}}</h4>
              {{comment.body}}
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
