<form #f="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name"
           type="text"
           class="form-control"
           name="name"
           ngModel
           #name="ngModel"
           required minlength="3" (change)=whenChanged(name)>
     <div *ngIf="name.errors&&name.touched">
       <div class="alert alert-danger" *ngIf="name.errors.required">Name is required!</div>
       <div class="alert alert-danger" *ngIf="name.errors.minlength">Min length should be greater than {{name.errors.minlength.requiredLength}}</div>
     </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"
           id="email"
           name="email"
           class="form-control"
           ngModel
           #email="ngModel"
           required>
      <div class="alert alert-danger" *ngIf="email.touched&&email.errors?.required">Email is required!</div>
  </div>
  <div class="form-group">
    <label for="freq">Frequency of Emails</label>
    <select name="freq" id="freq" class="form-control" ngModel #freq="ngModel" required>
      <option value="D">Daily</option>
      <option value="W">Weekly</option>
      <option value="M">Monthly</option>
    </select>
    <div class="alert alert-danger" *ngIf="freq.touched&&freq.errors?.required">Frequency of Emails is required!</div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Subscribe</button>
</form>
