<h1>Users</h1>
<p><a class="btn btn-primary" routerLink="new">Add a User</a></p>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tr *ngFor="let user of users">
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>
      <a [routerLink]="['/users', user.id]">
        <i class="glyphicon glyphicon-edit pointer"></i>
      </a>
    </td>
    <td><i class="glyphicon glyphicon-remove pointer" (click)="onDelete(user)"></i></td>
  </tr>
</table>
