<form [formGroup]="pf" (submit)="onSubmit()">
  <div class="form-group">
    <label for="currentpassword">Current Password</label>
    <input type="password" class="form-control" id="currentpassword" formControlName="cp">
    <div class="alert alert-danger" *ngIf="pf.controls.cp.errors && pf.controls.cp.touched">
      <div *ngIf="pf.controls.cp.errors.required">Old password is required</div>
      <div *ngIf="pf.controls.cp.errors.invalidOldPassword">Wrong old password!</div>
    </div>
  </div>
  <div class="form-group">
    <label for="newpassword">New Password</label>
    <input type="password" class="form-control" id="newpassword" formControlName="np">
    <div class="alert alert-danger" *ngIf="pf.controls.np.errors && pf.controls.np.touched">
      <div *ngIf="pf.controls.np.errors.required">New password is required!</div>
      <div *ngIf="pf.controls.np.errors.minlength">New password should be minimum {{pf.controls.np.errors.minlength.requiredLength}} characters</div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmpassword">Confirm Password</label>
    <input type="password" class="form-control" id="confirmpassword" formControlName="cnfp">
    <div class="alert alert-danger" *ngIf="pf.controls.cnfp.errors && pf.controls.cnfp.touched">
      <div *ngIf="pf.controls.cnfp.errors.required">Confirm Password is required!</div>
    </div>
    <div class="alert alert-danger" *ngIf="pf.errors && pf.errors.notMatches">New password and confirm password doesnt match</div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!pf.valid">Change Password</button>
</form>
